<h1>Pôle <%= @department.name %></h1>

<ul>
  <% @department.projects.each do |project| %>
    <li>
      <%= project.name %>
      <% project.missions.each do |mission| %>
        <p><%= mission.title %></p>
      <% end %>
    </li>
  <% end %>
</ul>
