<h1>Pôle <%= @department.name %></h1>

<ul>
  <% @department.projects.each do |project| %>
    <li>
      <%= project.name %>
      <% project.missions.each do |mission| %>
        <p><%= link_to mission.title, project_mission_path(project, mission) %></p>
      <% end %>
      <%= link_to "Créer une mission", new_project_mission_path(project) %>
    </li>
  <% end %>
</ul>
