<div class="container">
  <h1>Vos missions</h1>
  <ul>
    <% current_user.missions.each do |mission| %>
      <li><%= link_to mission.title, project_mission_path(mission.project, mission) %></li>
    <% end %>
  </ul>
</div>
