/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}
.padding-top-medium {
  padding-top: 40px;
}
.padding-left-small {
  padding-left: 20px;
}
.padding-bottom-small {
  padding-bottom: 20px;
}

// Margins
.margin-bottom-small {
  margin-bottom: 20px;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

// Bootstrap
.col-no-padding {
  [class*="col-"] {
    padding: 0px;
  }
  .row {
    margin: 0px;
  }
}

// Fonts
.font-primary-dark {
  color: $primary-dark;
}
.font-gray {
  color: $gray;
}

// Borders
.border-bottom-light {
  border-bottom: 1px solid $gray-border;
}
